---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import ExperienceShowcase from '../components/sections/ExperienceShowcase.astro';
import About from '../components/sections/About.astro';
import DivePackages from '../components/sections/DivePackages.astro';
import WhyChooseUs from '../components/sections/WhyChooseUs.astro';
import Location from '../components/sections/Location.astro';
import Blog from '../components/sections/Blog.astro';
import CTA from '../components/sections/CTA.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Hero />
			<ExperienceShowcase />
			<About />
			<DivePackages />
			<WhyChooseUs />
			<Location />
			<Blog />
			<CTA />
		</main>
		<Footer />
	</body>
</html>